.container{
    width: 1280px;
    margin: 0 auto;
    font-family: sans-serif;
    padding: 80px;
}
a{
    color: #000000;
    text-decoration: none;
}
ul {
    list-style-type: none;
}

.header{
    font-size: 400%;
}

.blue-text{
    color:#4bcaff;
    margin-left:-19px;
}

.menu{
    text-align: center;
    justify-content: center;
    width: 1140px;
    height:68px;
    background: #35444f;
}
.menu-ul{
    margin-top: 35px;
}

.menu-ul-li-item {
    color:#f2f3f3;
    font-size:150%;
    padding: 20px;
    display: inline-block;
}
.menu-ul-li-item:hover{
    border-left:1px solid #818181;
    border-right: 1px solid #818181;
    background-color:#222f3a ;
}




.nav-bar-and-img{
    margin-top: 40px;
}
.nav-bar-ul{
    margin-left:-50px;
}
.nav-bar-ul-li-item {
    margin-left: 50px;
    color:#6d7982;
    font-size:150%;
    padding-top: 30px;
}

.nav-bar-ul-li-item:hover{
    margin-left: 10px;
    color:#000000;
    background-color:#dbdbdb ;
    padding-left: 10px;
    text-align: center;
    padding-bottom: 20px;
}
.nav-bar{
    width: 300px;
    display: inline-block;
    vertical-align: top;
    height: 329px;
    border:1px solid #35444f;

}

.img{
    text-align: center;
    margin-left: 40px;
    width: 796px;
    height: 497px;
    display: inline-block;
    border: 1px solid #35444f;

}
.img-item{
    margin-top: 50px;

}
.img-item:hover{
    width: 360px;
    height:420px ;
}


.text{
    margin-left: 370px;
    width: 750px;

}




.footer-menu{

    justify-content: center;
    width: 1140px;
    height:68px;
    background: #b4b7ba;
}
.footer-menu-ul{
    margin-top: 35px;
}

.footer-menu-ul-li-item {
    margin-left: 10px;
    color:#0c1927;
    font-size:140%;
    padding: 20px 0 20px 0;
    display: inline-block;
}
.footer-menu-ul-li-item:hover{
    color:#3181a6;
    text-decoration: underline;
}
.copyright{
    margin-left: 150px;
    color:#0c1927;
    font-size:140%;
    padding: 20px 0 20px 0;
    display: inline-block;
}

