@import "reset";
/** if you have separate file for variables and mixins, or fonts - import it here **/
html {
  font-size: 10px;
}
.container {
  margin: 0 auto;
}
$darkGrey: #373c3f;
$burgerGrey: #202529;

@import "header";
@import "content";

/** MEDIA **/
@import "media/all-media";